# List and its Default Function

In [1]:
lst = ["Ais",20,3.7,[8,6,3],"word"]

In [2]:
lst

['Ais', 20, 3.7, [8, 6, 3], 'word']

In [3]:
lst[1]

20

In [5]:
lst[3][2]

3

In [7]:
lst.append("independent")

In [8]:
lst

['Ais', 20, 3.7, [8, 6, 3], 'word', 'independent', 'independent']

In [12]:
lst.remove("independent")

In [13]:
lst

['Ais', 20, 3.7, [8, 6, 3], 'word', 'independent']

In [17]:
lst.index("word")

4

# Dictionary and its Default Function

In [18]:
dit = {"name":"Aiswarya",
       "dept":"petroleum",
       "batch":"1st",
       "college":"JCT",
       "branch":"technology"}

In [19]:
dit

{'name': 'Aiswarya',
 'dept': 'petroleum',
 'batch': '1st',
 'college': 'JCT',
 'branch': 'technology'}

In [21]:
dit["name"]

'Aiswarya'

In [23]:
dit.pop

In [24]:
dit.items()

dict_items([('name', 'Aiswarya'), ('dept', 'petroleum'), ('batch', '1st'), ('college', 'JCT'), ('branch', 'technology')])

In [25]:
dit.get("batch")

'1st'

In [26]:
dit.keys()

dict_keys(['name', 'dept', 'batch', 'college', 'branch'])

In [27]:
dit["place"]= "pichanur"

In [29]:
dit

{'name': 'Aiswarya',
 'dept': 'petroleum',
 'batch': '1st',
 'college': 'JCT',
 'branch': 'technology',
 'place': 'pichanur'}

# Sets and its Default Function

In [30]:
x = 29
y = 8.4
z = 100

In [31]:
x + y

37.4

In [32]:
print(x+y)

37.4

In [33]:
x+y+z

137.4

In [34]:
print(type(8.4))

<class 'float'>

In [35]:
type(100)

int

In [40]:
st = {"aishuu","education",9,6,3,3,0,0,2,}

In [41]:
st

{0, 2, 3, 6, 9, 'aishuu', 'education'}

In [42]:
st.add("ocean")

In [43]:
st

{0, 2, 3, 6, 9, 'aishuu', 'education', 'ocean'}

In [44]:
st1 = {9,"ocean"}

In [45]:
st2 = {3,"education"}

In [46]:
st1.issubset(st)

True

In [47]:
st2.issubset(st1)

False

In [48]:
st.difference(st2)

{0, 2, 6, 9, 'aishuu', 'ocean'}

In [49]:
st.intersection(st1)

{9, 'ocean'}

In [51]:
st.add(122)

In [52]:
st

{0, 122, 2, 3, 6, 9, 'aishuu', 'education', 'ocean'}

# Tuple and its Default function

In [55]:
tup = ("python","is","not","#","#","complicated")

In [56]:
tup

('python', 'is', 'not', '#', '#', 'complicated')

In [57]:
tup.count("#")

2

In [58]:
tup.count("python")

1

In [60]:
tup.index("complicated")

5

In [62]:
tup.index("is")

1

# String and its Default methods

In [63]:
name = "Aiswarya"
name1 = "python"
name2 = "word"

In [64]:
name

'Aiswarya'

In [65]:
name1 +"_"+ name2

'python_word'

In [66]:
print(name1)

python

In [67]:
print(type(name2))

<class 'str'>

In [68]:
type(name)

str

In [85]:
str = "name"+"name1"+"name2"+"name2"

In [86]:
str.count(name1)

0

In [91]:
str.find(name1)

-1